body {
  background-color: rgb(255, 255, 255);
}

section {
  display: flex;
}

section > div > img {
  width: 200px;
  height: auto;
}

section > div {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  margin: 200px 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section > div > h1 {
  color: rgb(3, 77, 77);
}
